Window
  backgroundColor "white"
Window[platform=android]
  exitOnClose false
  navBarHidden false
#canvasView
  width "Ti.UI.FILL"
  height "Ti.UI.FILL"
  backgroundColor "green"
#wrapView
  width "Ti.UI.SIZE"
  height "Ti.UI.SIZE"
  top 10
  left 10
  backgroundColor "yellow"
#imgView
  width "100dp"
  height "100dp"
  backgroundColor "blue"
  borderWidth 5
  borderRadius 10
  borderColor "red"
  image "/appicon.png"
