Alloy
  NavigationWindow(module="xp.ui")
    Window.container(title="TiAnimateStudy")
      TableView#sampleList
        TableViewSection(headerTitle="Movement")
          TableViewRow#sample01(title="Top to Bottom", onClick="onClickTest")
          TableViewRow#sample02(title="Left to Right", onClick="onClickTest")
          TableViewRow#sample03(title="Top to Bottom, Left to Right", onClick="onClickTest")
          TableViewRow#sample04(title="Top to Bottom & Left to Right", onClick="onClickTest")
        TableViewSection(headerTitle="Movement with Border")
          TableViewRow#sample11(title="Top to Bottom", onClick="onClickTest")
          TableViewRow#sample12(title="Top to Bottom (for Android)", onClick="onClickTest")
          TableViewRow#sample13(title="Top to Bottom, Left to Right (for Android)", onClick="onClickTest")
          TableViewRow#sample14(title="Top to Bottom & Left to Right (for Android)", onClick="onClickTest")
        TableViewSection(headerTitle="Transformation")
          TableViewRow#sample21(title="Shrink width", onClick="onClickTest")
          TableViewRow#sample22(title="Shrink height", onClick="onClickTest")
          TableViewRow#sample23(title="Shrink width, height", onClick="onClickTest")
          TableViewRow#sample24(title="Shrink width & height", onClick="onClickTest")
        TableViewSection(headerTitle="Transformation with Border")
          TableViewRow#sample31(title="Shrink width", onClick="onClickTest")
          TableViewRow#sample32(title="Shrink width (for Android)", onClick="onClickTest")
          TableViewRow#sample33(title="Shrink width with left (for Android)", onClick="onClickTest")
          TableViewRow#sample34(title="Shrink width with left & anchor point (for Android)", onClick="onClickTest")
          TableViewRow#sample35(title="Shrink width by 2DMatrix (for Android)", onClick="onClickTest")
          TableViewRow#sample36(title="Shrink width by 2DMatrix", onClick="onClickTest")
          TableViewRow#sample37(title="Shrink width by 2DMatrix with anchorPoint (for Android)", onClick="onClickTest")
          TableViewRow#sample38(title="Shrink width, height by 2DMatrix with anchorPoint (for Android)", onClick="onClickTest")
          TableViewRow#sample39(title="Shrink width, height by Utils module", onClick="onClickTest")
        TableViewSection(headerTitle="Movement & Transformation")
          TableViewRow#sample41(title="Top to Bottom & Shrink width", onClick="onClickTest")
          TableViewRow#sample42(title="Top to Bottom & Shrink width, Left to Right & Shrink height", onClick="onClickTest")
          TableViewRow#sample43(title="Top to Bottom & Shrink width, Left to Right & Shrink height with Border (for Android)", onClick="onClickTest")
          TableViewRow#sample44(title="Shrink width & Top to Bottom, Shrink height & Left to Right with Border (for Android)", onClick="onClickTest")
          TableViewRow#sample45(title="Top to Bottom & Shrink width, Left to Right & Shrink height with Border & size (for Android)", onClick="onClickTest")
          TableViewRow#sample46(title="Shrink width & Top to Bottom, Shrink height & Left to Right with Border & size  (for Android)", onClick="onClickTest")
